# Lab 4 - Assessment
### Jackson Rolando

## The purpose: 
1. Which (if any) morphological and biogeochemical traits distinguish between originating species 
of the scat samples? 
 
2. Why do you think those traits differ across species?

### Notes on *Reid, 2015*

- Only three main differences found: diameter, mass, and C:N ratio
- bobcats and coyotes scratch the ground, leave scent marks
    - coyotes: scratch adjacent to urine
    - bobcats: more controlled scratches, deposit at one end
- C:N - Carbon to Nitrogen ratio
    - plant-eaters: high
    - meat-eaters: low
    - precision was 0.2
- Analysis:
    - one-way ANOVA: differences in means
    - log transformation necessary 
- Some irregular scats coded as flat and lacking some/all measurements
- gray foxes had weird stuff going on
- 19 samples missing one or more features
- Results:
    - Diameter - coyote vs others
    - Mass - gray fox vs others
    - C:N - all groups
    - best form traits:
        - number of pieces
        - diameter
        - taper length
        - log mass
        - C:N ratio - <u>distinct for all three species</u>
    - scrape doesn't help a TON, for this data, really just for Bobcats

### Notes on animals:
#### [Coyotes](https://en.wikipedia.org/wiki/Coyote)
- M: 8 to 20 kg, F: 7 to 18 kg
- shares ancestor with NA grey wolves
- mark territory with raised-leg urination and ground-scratching
- mainly animals, sometimes plants
- may eat bobcats
- feeding territories of 0.4 to 62 $km^2$
- commonly livestock predators

#### [Gray Foxes](https://en.wikipedia.org/wiki/Gray_fox)
- 3.6 to 7 kg
- omnivorous - in NA, insectivorous and herbivorous - fruit
- hunt for same things as bobcats and coyotes
    - gives space to coyote
    - sometimes killed by coyotes and bobcats - result of competition, not usually eaten
- usually stay close to the den
- to escape coyotes, often near humans

#### [Bobcats](https://en.wikipedia.org/wiki/Bobcat)
- M: 6.4–18.3 kg, F: 4–15.3 kg
- carnivorous
    - sometimes larger animals to return to to feed on
    - usually hare
    - number of hare correlates with number of bobcats
- could have home ranges, moving 3 to 11 km along a habitual route, some of them are transient, some stay very close to a den
- sometimes go after livestock or pets

### Notes on [How Biologists Estimate Populations of Animals](https://adfg.alaska.gov/index.cfm?adfg=wildlifenews.view_article&articles_id=814#:~:text=Another%20efficient%20method%20researchers%20have,them%20to%20estimate%20the%20entire):
- census
- capture, mark recapture
- aerial

### Notes on [Estimating Bobcat Population Sizes](https://academic.oup.com/jmammal/article/90/1/129/847663)
- uses tests to determine population based on how many repeat individuals' scat was sampled
- male bobcats' home range: ~3.21 $km^2$

## I. Introduction

Coyotes, Gray Foxes, and Bobcats are three medium-large-sized mamalian species which inhabit the coastal regions of California in question. Coyotes are omnivorous, suplementing their meat-heavy diet with occasional fruit. Gray foxes mostly eat small animals, insects, and fruit. Bobcats are carnivorous, most often praying on hares.

Coyotes are the largest of the three species at 7 to 20 kg, bobcats come in second at 4-18 kg, gray foxes are the smallest of the three at 3.6 to 7 kg. Coyotes and bobcats sometimes kill gray foxes that come into their territory, not eating them necessarily, just out of intimidation and protection of their own turf. Coyotes and bobcats are quite territorial, often marking their territory boundries with scratches around where they poop.  

These three species interact with humans infrequently, though they do come around. The gray fox, in order to avoid coyote or bobcat territory, tend to live closer to humans, unlike the others which tend to stay away. On occasion, coyotes and bobcats pray on livestock, sometimes even house pets.

Though none of these species are endangered, humans are directly competing with these species for space, and as stated they sometimes interact with the humans implanted in their habitat, so it makes sense to keep track of populations in specified areas. There are many ways to measure populations, like direct observation and aerial photos, though since these species aren't easy to spot against the landscape and are usually quite good at avoiding humans, this can prove difficult. Another method of population estimation is through capture, tag, recapture. This can also prove quite difficult, as it requires that we actually track down these animals, catch them, then add the stress of tagging them in some way. This is time, consuming, involved, dangerous, and can even result in the animals changing their behavior. So, a less-invasive method of population estimation is being explored. Enter, scat. 

Collecting scat samples requires no contact with the animals themselves, but can be used similarly to capture, tag, recapture to estimate population, as DNA can be used to identify specific individuals. So, if we can find a way to determine which species a sample belongs to, we can estimate the populations without every needing to disturb the wildlife. 

We're setting out to find if there are morphological or chemical properties of the scat of these three species that can be used to tell them apart, in order to noninvasively estimate their separate populations.

## II. Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

We'll load the data:

In [3]:
df = pd.read_csv("Dataset_BobcatsCoyotesFoxes.csv");
df.head()

,Species,Month,Year,Site,Location,Age,Number,Length,Diameter,Taper,TI,Mass,d13C,d15N,CN,Ropey,Segmented,Flat,Scrape
0,Coyote,January,2012,YOLA,Edge,5,2,9.5,25.7,41.9,1.63,15.89,-26.85,6.94,8.5,0,0,0,0
1,Coyote,January,2012,YOLA,Edge,3,2,14.0,25.4,37.1,1.46,17.61,-29.62,9.87,11.3,0,0,0,0
2,Bobcat,January,2012,YOLA,Middle,3,2,9.0,18.8,16.5,0.88,8.40,-28.73,8.52,8.1,1,1,0,1
3,Coyote,January,2012,YOLA,Middle,5,2,8.5,18.1,24.7,1.36,7.40,-20.07,5.79,11.5,1,0,0,0
4,Coyote,January,2012,YOLA,Edge,5,4,8.0,20.7,20.1,0.97,25.45,-23.24,7.01,10.6,0,1,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Species    110 non-null    object
 1   Month      110 non-null    object
 2   Year       110 non-null    int64
 3   Site       110 non-null    object
 4   Location   110 non-null    object
 5   Age        110 non-null    int64
 6   Number     110 non-null    int64
 7   Length     110 non-null    float64
 8   Diameter   104 non-null    float64
 9   Taper      93 non-null     float64
 10  TI         93 non-null     float64
 11  Mass       109 non-null    float64
 12  d13C       108 non-null    float64
 13  d15N       108 non-null    float64
 14  CN         108 non-null    float64
 15  Ropey      110 non-null    int64
 16  Segmented  110 non-null    int64
 17  Flat       110 non-null    int64
 18  Scrape     110 non-null    int64
dtypes: float64(8), int64(7), object(4)
memory usage: 16.5+ KB

We'll convert the appropriate features to categorical:

In [21]:
cat_cols = ["Species", "Month", "Year", "Site", "Location", "Age", "Number", "Ropey", "Segmented", "Flat", "Scrape"]
for col in cat_cols:
    df[col] = df[col].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Species    110 non-null    category
 1   Month      110 non-null    category
 2   Year       110 non-null    category
 3   Site       110 non-null    category
 4   Location   110 non-null    category
 5   Age        110 non-null    category
 6   Number     110 non-null    category
 7   Length     110 non-null    float64
 8   Diameter   104 non-null    float64
 9   Taper      93 non-null     float64
 10  TI         93 non-null     float64
 11  Mass       109 non-null    float64
 12  d13C       108 non-null    float64
 13  d15N       108 non-null    float64
 14  CN         108 non-null    float64
 15  Ropey      110 non-null    category
 16  Segmented  110 non-null    category
 17  Flat       110 non-null    category
 18  Scrape     110 non-null    category
dtypes: category(11), float64(8)
memory usage: 10.1 KB

We'll check for missing values:

In [22]:
for col in df:
    if(df[col].isna().sum() > 0):
        print("\n" + col + ": \n" + str(df[df[col].isna()]))

Diameter:
    Species     Month  Year  Site Location Age Number  Length  Diameter  \
10  GrayFox   January  2012  ANNU   Middle   3      1     8.0       NaN
12  GrayFox   January  2012  ANNU   Middle   3      1    12.0       NaN
13  GrayFox   January  2012  ANNU   Middle   3      1    11.5       NaN
14  GrayFox   January  2012  ANNU   Middle   1      1     8.5       NaN
28  GrayFox     April  2012  ANNU   Middle   1      1    10.0       NaN
94   Coyote  November  2011  ANNU  OffEdge   3      1     4.5       NaN

    Taper  TI   Mass   d13C   d15N    CN Ropey Segmented Flat Scrape
10    NaN NaN   2.51 -25.79   7.83  20.5     0         0    1      0
12    NaN NaN  18.14 -25.18  10.10  15.5     0         0    1      0
13    NaN NaN   8.17 -25.73   9.72  18.9     0         0    1      0
14    NaN NaN   3.43 -26.17   8.07  19.9     0         0    1      0
28    NaN NaN   5.53 -26.58   8.17  18.9     0         0    1      0
94    NaN NaN  20.29 -22.69  13.32  10.4     0         0    1      0

Taper:
    Species      Month  Year  Site Location Age Number  Length  Diameter  \
10  GrayFox    January  2012  ANNU   Middle   3      1     8.0       NaN
12  GrayFox    January  2012  ANNU   Middle   3      1    12.0       NaN
13  GrayFox    January  2012  ANNU   Middle   3      1    11.5       NaN
14  GrayFox    January  2012  ANNU   Middle   1      1     8.5       NaN
28  GrayFox      April  2012  ANNU   Middle   1      1    10.0       NaN
50   Bobcat       June  2012  ANNU   Middle   3      3    10.0      24.1
67   Bobcat  September  2011  ANNU     Edge   1      3     5.0      17.9
68   Coyote  September  2011  ANNU   Middle   3      5     2.5      18.1
69   Bobcat  September  2011  ANNU   Middle   5      1    10.0      25.8
70   Bobcat  September  2011  ANNU   Middle   5      1    10.0      22.2
71   Coyote  September  2011  ANNU     Edge   5      3     5.0      20.1
72   Coyote  September  2011  ANNU   Middle   4      2     9.0      17.8
74   Bobcat  September  2011  ANNU   Middle   5      3     6.0      19.3
75   Bobcat  September  2011  ANNU   Middle   5      1     6.0      24.8
79  GrayFox  September  2011  ANNU   Middle   2      2     7.0      14.9
85  GrayFox    October  2012  ANNU  OffEdge   1      2     9.5      17.3
94   Coyote   November  2011  ANNU  OffEdge   3      1     4.5       NaN

    Taper  TI   Mass   d13C   d15N    CN Ropey Segmented Flat Scrape
10    NaN NaN   2.51 -25.79   7.83  20.5     0         0    1      0
12    NaN NaN  18.14 -25.18  10.10  15.5     0         0    1      0
13    NaN NaN   8.17 -25.73   9.72  18.9     0         0    1      0
14    NaN NaN   3.43 -26.17   8.07  19.9     0         0    1      0
28    NaN NaN   5.53 -26.58   8.17  18.9     0         0    1      0
50    NaN NaN  26.89 -27.15   3.46   5.5     0         1    0      0
67    NaN NaN   9.51 -27.50   5.87   7.0     0         1    0      0
68    NaN NaN  18.26 -26.43   7.91   9.3     0         1    0      0
69    NaN NaN   8.73 -26.83   5.97   7.4     1         0    0      0
70    NaN NaN  25.90 -26.81   6.91   7.7     0         0    0      0
71    NaN NaN  14.46 -22.54  13.19   7.7     1         1    0      0
72    NaN NaN  10.26 -19.76  17.10   7.2     1         0    0      0
74    NaN NaN  14.55 -27.79   2.62   7.7     1         1    0      0
75    NaN NaN   5.66 -28.15   5.87   8.5     1         1    0      0
79    NaN NaN    NaN -28.92   5.23  13.2     1         0    0      0
85    NaN NaN   6.77 -27.33   6.73   9.2     0         0    0      0
94    NaN NaN  20.29 -22.69  13.32  10.4     0         0    1      0

TI:
    Species      Month  Year  Site Location Age Number  Length  Diameter  \
10  GrayFox    January  2012  ANNU   Middle   3      1     8.0       NaN
12  GrayFox    January  2012  ANNU   Middle   3      1    12.0       NaN
13  GrayFox    January  2012  ANNU   Middle   3      1    11.5       NaN
14  GrayFox    January  2012  ANNU   Middle   1      1     8.5       NaN
28  GrayFox      April  2012  ANNU   Middle   1      1    10.0       NaN
50   Bobcat       June  2012  ANNU   Middle   3      3    10.0      24.1
67   Bobcat  September  2011  ANNU     Edge   1      3     5.0      17.9
68   Coyote  September  2011  ANNU   Middle   3      5     2.5      18.1
69   Bobcat  September  2011  ANNU   Middle   5      1    10.0      25.8
70   Bobcat  September  2011  ANNU   Middle   5      1    10.0      22.2
71   Coyote  September  2011  ANNU     Edge   5      3     5.0      20.1
72   Coyote  September  2011  ANNU   Middle   4      2     9.0      17.8
74   Bobcat  September  2011  ANNU   Middle   5      3     6.0      19.3
75   Bobcat  September  2011  ANNU   Middle   5      1     6.0      24.8
79  GrayFox  September  2011  ANNU   Middle   2      2     7.0      14.9
85  GrayFox    October  2012  ANNU  OffEdge   1      2     9.5      17.3
94   Coyote   November  2011  ANNU  OffEdge   3      1     4.5       NaN

    Taper  TI   Mass   d13C   d15N    CN Ropey Segmented Flat Scrape
10    NaN NaN   2.51 -25.79   7.83  20.5     0         0    1      0
12    NaN NaN  18.14 -25.18  10.10  15.5     0         0    1      0
13    NaN NaN   8.17 -25.73   9.72  18.9     0         0    1      0
14    NaN NaN   3.43 -26.17   8.07  19.9     0         0    1      0
28    NaN NaN   5.53 -26.58   8.17  18.9     0         0    1      0
50    NaN NaN  26.89 -27.15   3.46   5.5     0         1    0      0
67    NaN NaN   9.51 -27.50   5.87   7.0     0         1    0      0
68    NaN NaN  18.26 -26.43   7.91   9.3     0         1    0      0
69    NaN NaN   8.73 -26.83   5.97   7.4     1         0    0      0
70    NaN NaN  25.90 -26.81   6.91   7.7     0         0    0      0
71    NaN NaN  14.46 -22.54  13.19   7.7     1         1    0      0
72    NaN NaN  10.26 -19.76  17.10   7.2     1         0    0      0
74    NaN NaN  14.55 -27.79   2.62   7.7     1         1    0      0
75    NaN NaN   5.66 -28.15   5.87   8.5     1         1    0      0
79    NaN NaN    NaN -28.92   5.23  13.2     1         0    0      0
85    NaN NaN   6.77 -27.33   6.73   9.2     0         0    0      0
94    NaN NaN  20.29 -22.69  13.32  10.4     0         0    1      0

Mass:
    Species      Month  Year  Site Location Age Number  Length  Diameter  \
79  GrayFox  September  2011  ANNU   Middle   2      2     7.0      14.9

    Taper  TI  Mass   d13C  d15N    CN Ropey Segmented Flat Scrape
79    NaN NaN   NaN -28.92  5.23  13.2     1         0    0      0

d13C:
    Species   Month  Year  Site Location Age Number  Length  Diameter  Taper  \
59  GrayFox  August  2013  ANNU     Edge   3      2     9.5      17.8   18.8
66   Bobcat  August  2013  ANNU     Edge   1      3     9.5      19.3   32.8

      TI   Mass  d13C  d15N  CN Ropey Segmented Flat Scrape
59  1.06   5.38   NaN   NaN NaN     0         0    0      0
66  1.70  14.94   NaN   NaN NaN     0         1    0      0

d15N:
    Species   Month  Year  Site Location Age Number  Length  Diameter  Taper  \
59  GrayFox  August  2013  ANNU     Edge   3      2     9.5      17.8   18.8
66   Bobcat  August  2013  ANNU     Edge   1      3     9.5      19.3   32.8

      TI   Mass  d13C  d15N  CN Ropey Segmented Flat Scrape
59  1.06   5.38   NaN   NaN NaN     0         0    0      0
66  1.70  14.94   NaN   NaN NaN     0         1    0      0

CN:
    Species   Month  Year  Site Location Age Number  Length  Diameter  Taper  \
59  GrayFox  August  2013  ANNU     Edge   3      2     9.5      17.8   18.8
66   Bobcat  August  2013  ANNU     Edge   1      3     9.5      19.3   32.8

      TI   Mass  d13C  d15N  CN Ropey Segmented Flat Scrape
59  1.06   5.38   NaN   NaN NaN     0         0    0      0
66  1.70  14.94   NaN   NaN NaN     0         1    0      0

The missing values for diameter are just for those that are categorized as flat. We'll zero these out. The missing values for taper and TI are the same and are categorized as a few different types. For the flat ones, we'll zero them out. For ropey and segmented, I'll set these to the average taper/TI value. For mass, d13C, d15N, and CN, there aren't very many missing values, so we'll set them to the average value.

### TODO:
- [ ] zero/average them bitches
- [ ] outliers in continuous features